<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">  <!--add extension to Thymeleaf-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Random Image</title>
</head>
<body>
    <h1>How many numbers do you wish to generate?</h1>
    <br>
    <form
        action="#"
        th:action="@{/generate}"  
        th:object="${generate}"  
        method="post"
    >
        <!-- action="#" is to invalidate the default action command, so the th:action can be triggered, can also be removed -->   
        <!-- th:action will direct the page to /generate page after the client click on generate button at the page-->
        <!-- th:object endpoint object passed from the GenerateController -->
        <p>
            <input type="text" th:field="*{numberVal}"/> <!--reference attribute of the generate object. Generate.java.getNumberVal()-->
            <input type="submit" value="Generate"/>  <!-- 2 way binding -->
        </p>
    </form>
</body>
</html>